body {
    box-sizing: border-box;
}

.gradient-bg {
    background: linear-gradient(135deg, #b0d5ef 0vh, #bddef5 100vh);
}
.card-hover {
    transition: all 0.3s ease;
}
.card-hover:hover {
    transform: translateY(-5px);
}


@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}
.bounce-animation {
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}
.fire-emoji {
    animation: fireFlicker 1.5s infinite alternate;
}

@keyframes fireFlicker {
    0% {
        transform: scale(1) rotate(-2deg);
    }
    100% {
        transform: scale(1.1) rotate(2deg);
    }
}
.sparkle {
    position: relative;
    overflow: hidden;
}

@keyframes sparkleMove {

    0%,
    100% {
        opacity: 0;
        transform: translateY(0px);
    }
    50% {
        opacity: 1;
        transform: translateY(-10px);
    }
}

.whatsapp-button {
    background: linear-gradient(135deg, #FF69B4 0%, #FF007F 100%);
}
.catalog-button {
    background: linear-gradient(135deg, #FF007F 0%, #FF69B4 100%);
}
.site-button {
    background: linear-gradient(135deg, #FF69B4 0%, #FF007F 100%);
}
.instagram-button {
    background: linear-gradient(135deg, #FF007F 0%, #FF69B4 100%);
}
.face-button {
    background: linear-gradient(135deg, #FF69B4 0%, #FF007F 100%);
}
.local-button {
    background: linear-gradient(135deg, #FF007F 0%, #FF69B4 100%);
}